.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
}

.modal {
  background-color: #fff;
  min-width: 500px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalClose {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
}
